//VARIABLES



//Color de bloque
$color__primary:#E8F5E9;

//Dimensiones de bloque
$width__primary:900px;
$height__primary:500px;

//Dimensiones de elemento
$bloque__width:49%;
$bloque__height:500px;
$right__middle_lineHeight:65px;
$right__middle_width:75%;
$right__bottom_width:90%;

//Colores
$right__head_titleColor: #616161;
$right__head_subtitleColor: #616161;
$myResumeColor: #00E676;
$myWorkColor: #FFEB3B;
$mySkillsColor: #FF5252;
$right__bottom_paragraphColor:#616161;

//Sombreado
$right__head_subtitleFontWeight:500;
$right__bottom_paragraphWeight:500;

//Fuentes
$right__bottom_fontSize:14px;
$right__head_titleFontSize:55px;
$right__head_subtitleFontSize:30px;
$right__bottom_fontFamily: 'Assistant', sans-serif;

//Margenes
$margin__primary:200px auto;
$right__head_margin:60px auto 20px auto;
$right__middle_margin:0px 0px 25px 5px;
$right__margin:0px 0px 0px -30px;

//Parrafo
$lHeight:1.1;